.parallax-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
}

.container{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
     
}
 
.image{
    margin-top: 50px;
    
}
.article{
    margin-left: 50px;
}


.about_title h2{
    font-size: 24px;
}

.about_title p{
    color: #00BEAC;
    font-size: 16px;
}

.about_content{
    width: 90%;
}
@media only screen and (max-width: 1024px) {
 
    .container{
        flex-direction: column-reverse;
    }
    .about_title h2{
        font-size: 24px;
        width: 250px;
       
    }
    .about_title p{
        font-size: 20px;
    
    }    

    .about_title{
       
        align-items: center;
    }
    
   .image img{
        width: 90%;
        margin: auto;
    }

}