h1,
#container h5 {
    color: #fff;
    text-align: center;
}

.content {
    width: 90%;
    margin: auto;
    background: #F5FFFE;
}

h2 {
    text-align: center;
    color: #00A77F;
}

.details {
    margin-top: 50px;

}

.city_details {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

.city_weather {
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

.city_size,
.city_weather,
.safety {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.photos img {
    margin-bottom: 10px;
    width: 100%;
}

.fa-users {
    color: #00A77F;
}

.fa-star {
    color: #ffff00;
}

span {
    color: #000;
    margin-left: 5px;
}

.fa-users,
.fa-star {
    margin-top: 10px;
}

.move {
    display: flex;
    align-items: center;
    color: #fff;
    background: #00BEAC;
    padding: 50px;
    border-radius: 10px;
}

.s4 a {
    background: #fff;
    color: #0CA296;
    border-radius: 10px;
}

.s4 a:hover {
    background-color: #e5e5e5;
}


@media only screen and (max-width: 1024px) {

    .blog {
        display: flex;
        flex-direction: column;

    }

    .content {
        width: 100% !important;
    }

    .details {
        width: 100% !important;

    }

    .city_size,
    .city_weather,
    .safety {
        font-size: 10px !important;
    }

    .move {
        flex-direction: column;
    }

    .move div {
        width: 100% !important;
    }

    .move div:last-child {
        margin-top: 20px;
    }

}